/* Our styling */

body {
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
}

#navbar {
    opacity: .75;
}

/* Table Body */
#tbody {
    width: 500px;
    margin: 0 auto;
}

#mainContent {
    /* text-align: center; */
}

.translationSearchResultsGoHere p {
    background-color: lightgoldenrodyellow;
    opacity: .7;
    border: 3px ridge white; 
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#webBody td {
    background-color: lightgoldenrodyellow;
    opacity: .7;
    border: 3px ridge white;
}

.urbanRow td {
    background-color: lightgoldenrodyellow;
    opacity: .7;
    border: 3px ridge white;
}

.emojiRow {
    background-color: lightgoldenrodyellow;
    opacity: .7;
    border: 3px ridge white;
}

#mainContent {
    margin: 0 10%;
}

.zomato {
    background-color: lightgoldenrodyellow;
    opacity: .7;
    border: 3px ridge white;
}

/* Privacy Hover */
.privacy {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.privacy .privacyText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the privacy */
    position: absolute;
    z-index: 1;
}
  
.privacy:hover .privacyText {
    visibility: visible;
}

.firebaseSection {
    margin: auto;
    background-color: lightgoldenrodyellow;
    opacity: .7;
}

/* counter list */
li {

    float: left;
    margin: 15px;
}






/* Footer */

#about {
    width: 100px;
    align-self: center;
}

h6 {
    text-align: center;
    font-weight: 20px;
}

.firebaseSection{
    margin: 0 10%;
    color: #004777;
    border: 3px ridge white;
   
}

.firebaseWordCount{
    text-align: center;
    margin-top: 10px;
}

.page-footer{
    background-color: #004777;
    border-top: 3px solid white;
}

.card-body{
    text-align: center;
    color: white; 
}

#about{
   margin-left: 45%;
}

